<h2><p>Отзыв о курсе</p></h2>
<p>1. Ваш уровень подготовки до начала (должность, знание языков разработки)</p>
<p>8 лет разработки на Java. Не было никаких знаний по Angular</p>
<p>
  2. Был ли вам полезен курс или считаете сами разобрались бы лучше/быстрее?
</p>
<p>
    Курс дал надежную базу для старта разработки на Angular - как структурно строить проект, компоненты Angular и все необходимое
</p>
<p>3. Что было интересного и понравилось, что нет?</p>
<p>
 Достаточная база и полнота материала на лекциях. Не понравилось что регулярно задерживались на лекциях.
</p>
<p>
  3. Достаточно ли было сложно и глубоко погружено в тему или курс прошёл на
  одном дыхании незаметно и можно было бы сделать задачки поинтереснее.
</p>
<p>Это был интенсивный курс, который потртебовал от меня полного погружения, иначе бы я просто не успевал делать домашку.
    Было сложно, но я справился)
</p>
<p>
  4. Были ли задачи/темы за рамками курса. Предлагались ли задачи "со
  звёздочкой"?
</p>
<p>Были небольшие дополнительные задачи</p>
<p>
  5. Что бы вы посоветовали для саморазвития преподавателю и улучшению курса?
</p>
<p>
    Ознакомление с материалом до лекции, чтобы было проще понимать материал. Соблюдения таймингов
</p>