<mat-card class="example-card">
  <mat-card-content>
    <div >
      <p>&nbsp;</p>
      <h2>Разработка сайтов-визиток</h2>

      <p>
        Сайт-визитка необходим, когда вы хотите продать один товар или услугу.
        На странице сайта размещается название компании, описание деятельности и
        контакты.&nbsp;
      </p>

      <p>&nbsp;</p>

      <p style="line-height: 1.38">
        <span>Что дает готовый сайт-визитка?</span>
      </p>

      <ul align="left">
        <li>
          <small>Быстрое налаживание связи между компанией и клиентом.</small>
        </li>
        <li>
          <small
            >На сайт-визитку можно добавить ссылки на WhatsApp, Telegram, Viber,
            FB Messenger, VK, Instagram, Skype, Line. Клиент сам решит, как ему
            удобнее связаться.</small
          >
        </li>
        <li>
          <small
            >Можно добавить кнопки Facebook, Instagram, ВКонтакте, TikTok,
            Одноклассники, Twitter, Youtube. Кроме всех популярных соцсетей
            можно дать ссылку на Pinterest,Snapchat,Behance,Dribbble,
            LinkedIn,Twitch, Patreon.&nbsp;</small
          >
        </li>
        <li>
          <small
            >На странице сайта-визитки есть модуль для приема платежей.</small
          >
        </li>
        <li>
          <small
            >Адаптивная верстка под размеры экранов любых мобильных
            устройств.</small
          >
        </li>
        <li><small>Высокая скорость загрузки сайта-визитки</small></li>
      </ul>
      <!--p><small>Посмотрите, <a href="https://design.megagroup.ru/solution/card" target="_blank"><span style="color: #1b9f32;"><strong>как выглядят сайты-визитки</strong></span></a>. Вы можете выбрать понравившееся цветовое решение из предложенных вариантов и заполнить разделы нужной Вам информацией и фотографиями.<br />
Адаптивный дизайн сайта динамически подстраивающийся как под экраны компьютеров, так и смартфонов на базе Android и iOS.</small></p-->
    </div>
  </mat-card-content>
  <mat-card-actions>
    <!-- <a mat-button [href]="project.link">Страница проекта</a> -->
  </mat-card-actions>
</mat-card>
